.container {
	padding: 100px 20px;
	width: 1220px;
	max-width: 100%;
	margin: 0 auto;
}

.swiper_slide {
	display: flex;
	justify-content: center;
	img {
		width: 500px;
		@media screen and (max-width: 768px) {
			width: 200px;
			height: 200px;
		}
	}
}
